@charset "utf-8";

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 850px;
  min-height: 450px;
  padding: 50px 55px 45px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container h2 {
  font-size: 2rem;
}

.container p {
  font-size: 1rem;
  margin-top: 10px;
  padding-left: 20px;
}

.container p span {
  display: inline-block;
  margin-bottom: 4px;
}