@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background: #000;
  color: #fff;
}

p {
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.justify {
  text-align: justify;
}