@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background: #000;
  color: #fff;
}

p {
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.justify {
  text-align: justify;
}

h1 {
  position: absolute;
  top: 25px;
  left: 30px;
}

/* h1 .logo {
  width: 40px;
} */