@charset "utf-8";

.h1 {
  position: absolute;
  top: 25px;
  left: 30px;
}

.h1 .logo {
  width: 40px;
}

.nav {
  font-size: 2.2rem;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav a {
  overflow: hidden;
  color: transparent;
  text-shadow: 0 -1.5em 0 #fff, 0 0 0 #fff;
}

.nav a:hover {
  animation: navText 0.25s forwards ease-in-out;
}

  @keyframes navText {
    0% {
      text-shadow: 0 -1.5em 0 #fff, 0 0 0 #fff;
    }
    100% {
      text-shadow: 0 0 0 #fff, 0 1.5em 0 #fff;
    }
  }