@charset "utf-8";

.container {
  max-width: 800px;
  margin: 0 auto;
}

.section {
  padding-top: 50px;
}

.container h2 {
  font-size: 2.75rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: 250px;
  gap: 25px;
}

.gridItem {
  overflow: hidden;
}

.gridItem a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/test.png");
  background-size: cover;
  transition: transform 0.3s;
}

.gridItem a:hover {
  transform: scale(1.2);
}

.border {
  width: 100%;
  height: 0.2px;
  margin: 5px 0 45px;
  background-color: #aaa;
}